p{
	color: red;
	text-align: center;
	text-align: justify;
}
h2, h3 {
	text-align: center;
	text-align: justify;
	text-shadow: 
	color:red;
}

div{
	text-align: left;
	text-anchor: 10px;
	color: blue;  
}
